[alias]
  last = log -1 HEAD
  ls = log --pretty=format:\"%C(yellow)%h%cred%d\\ %Creset%s%Cblue\\ [%cn]\" --decorate
  ll = log --pretty=format:\"%C(yellow)%h%cred%d\\ %Creset%s%Cblue\\ [%cn]\" --decorate --numstat
  lsg = log --pretty=format:\"%C(yellow)%h%cred%d\\ %Creset%s%Cblue\\ [%cn]\" --decorate --all --graph --oneline
  llg = log --pretty=format:\"%C(yellow)%h%cred%d\\ %Creset%s%Cblue\\ [%cn]\" --decorate --numstat --all --graph --oneline
  co = checkout
  lnc = log --pretty=format:"%h\\ %s\\ [%cn]"
  lds = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short
  ld = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=relative
  le = log --oneline --decorate
  fl = log -u
  lc = "!f() { git ll "$1"^.."$1"; }; f"
  df = diff
  dlc = diff --cached HEAD^
  dr = "!f() { git diff "$1"^.."$1"; }; f"
  diffr = "!f() { git diff "$1"^.."$1"; }; f"
  dw = diff --word-diff
  dc = diff --cached
  f = "!git ls-files | grep -i"
  la = "!git config -l | grep alias | cut -c 7-"
  cp = cherry-pick
  st = status -s
  cl = clone
  ci = commit
  br = branch
  sl = stash list
  sa = stash apply
  ss = stash save
  sp = stash pop
  s = status
  aa = add --all
  meld = difftool --dir-diff
  lss = log --pretty=short --decorate
  lsoneline = log --oneline --decorate
